.bg-light{
    background-color: powderblue !important;
}
.bg-fus{
    background-color: palegoldenrod;
}
.card{
    width: 80%;
    margin: 0 auto;
}
/* .row .col:nth-child(odd) .card{
    background-color: pink;
} */
