@charset "UTF-8";
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font: inherit;
}
.heading{
    font-size: 3em;
}
.note{
    background-color: yellow;
    width: 500px;
}
.note img{
    width: 200px;
    height: auto;
    float: right;
    position: relative;
    right: -50px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.next{
    background-color: pink;
    margin-top: 50px;
}
.next img{
    float: left;
}